# Упражнения на работу с pandas

## Упражнение № 1

In [1]:
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [2]:
import pandas as pd

series1 = pd.Series(mylist)
series2 = pd.Series(myarr)
series3 = pd.Series(mydict)

print(f"series1:\n{series1}\n")
print(f"series2:\n{series2}\n")
print(f"series3:\n{series3}\n")

series1:
0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

series2:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

series3:
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

## Упражнение № 2

In [3]:
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [4]:
df = ser.to_frame().reset_index()
print(f"Преобразованный ряд в датафрейм с новым столбцом:\n{df}")

Преобразованный ряд в датафрейм с новым столбцом:
   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

## Упражнение № 3

In [5]:
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [6]:
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)

df = pd.concat([ser1, ser2], axis=1)
df = pd.DataFrame({ "ser1": ser1, "ser2": ser2 })
print(f"Объединённый датафрейм из двух рядов:\n{df}")

Объединённый датафрейм из двух рядов:
   ser1  ser2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

## Упражнение № 4

In [7]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
ser = pd.Series(mylist)

In [8]:
ser.name = "latin_letters"
print(f"С добавлением названия столбца:\n{ser}")

С добавлением названия столбца:
0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: latin_letters, dtype: object

## Упражнение № 5

In [9]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1 = ser1[~ser1.isin(ser2)]
print(f"Очищенный первый ряд от значений второго ряда:\n{ser1}")

Очищенный первый ряд от значений второго ряда:
0    1
1    2
2    3
dtype: int64

## Упражнение № 6

In [10]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [11]:
series_union = pd.Series(np.union1d(ser1, ser2))
series_intersection = pd.Series(np.intersect1d(ser1, ser2))

ser = series_union[~series_union.isin(series_intersection)]
print(f"Не являются общими для двух рядов:\n{ser}")

Не являются общими для двух рядов:
0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

## Упражнение № 7

In [12]:
ser = pd.Series(np.random.normal(10, 5, 25))

In [13]:
print(f"Исходные данные:\n{ser}\n")
names = [
    "Минимальное значение",
    "25-й процентиль",
    "Медиана",
    "75-й процентиль",
    "Максимальное значение",
]
results = np.percentile(ser, q=[0, 25, 50, 75, 100])
pretty_results = np.stack((names, results), axis=1)
print(pretty_results)

Исходные данные:
0     17.983485
1      9.875867
2      9.662115
3      3.973429
4     12.106647
5      4.288173
6     15.000733
7      8.905703
8     10.884550
9      4.441821
10    12.630574
11     8.892492
12     8.269609
13     8.959210
14     1.990706
15     5.740698
16    12.534512
17     1.195771
18    13.540819
19    10.098038
20    19.795928
21    11.763765
22     7.140883
23    15.527053
24     5.817494
dtype: float64

[['Минимальное значение' '1.1957705778727181']
 ['25-й процентиль' '5.817493708570539']
 ['Медиана' '9.662114701845384']
 ['75-й процентиль' '12.534512348038618']
 ['Максимальное значение' '19.795927554741723']]

## Упражнение № 8

In [14]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [16]:
print(f"Исходные данные:\n{ser}\n")
uniques = ser.value_counts()
print(f"Частота встречаемости каждого уникального значения:\n{uniques}\n")

Исходные данные:
0     g
1     a
2     g
3     a
4     f
5     h
6     e
7     f
8     h
9     e
10    d
11    a
12    c
13    e
14    e
15    e
16    c
17    h
18    d
19    d
20    b
21    g
22    h
23    g
24    f
25    b
26    g
27    a
28    f
29    h
dtype: object

Частота встречаемости каждого уникального значения:
g    5
h    5
e    5
a    4
f    4
d    3
c    2
b    2
Name: count, dtype: int64

## Упражнение № 9

In [17]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [29]:
print(f"Исходные данные:\n{ser}\n")
uniques = ser.value_counts()
print(f"Частота встречаемости каждого уникального значения:\n{uniques}\n")

top_2_uniques = uniques[:2]
print(f"Топ 2:\n{top_2_uniques}\n")


ser[~ser.isin(uniques.index[:2])] = 'Прочее'
print(f"Два наиболее встречающихся оставлены, другие заменены на 'Прочее':\n{ser}")

Исходные данные:
0          1
1          3
2          3
3          1
4          1
5          1
6          3
7     Прочее
8          3
9          3
10         1
11         3
dtype: object

Частота встречаемости каждого уникального значения:
3         6
1         5
Прочее    1
Name: count, dtype: int64

Топ 2:
3    6
1    5
Name: count, dtype: int64

Два наиболее встречающихся оставлены, другие заменены на 'Прочее':
0          1
1          3
2          3
3          1
4          1
5          1
6          3
7     Прочее
8          3
9          3
10         1
11         3
dtype: object

## Упражнение № 10

In [54]:
ser = pd.Series(np.random.random(20))

In [56]:
print(f"Исходные данные:\n{ser}\n")

cut_ser = pd.qcut(
                ser, 
                q=[0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1], 
                labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']
)
print(f"Значения заменены на децентили:\n{cut_ser}\n")

Исходные данные:
0     0.720953
1     0.794464
2     0.234194
3     0.698746
4     0.431988
5     0.272417
6     0.681885
7     0.000278
8     0.776494
9     0.004703
10    0.955020
11    0.684519
12    0.594119
13    0.802257
14    0.703727
15    0.414156
16    0.963164
17    0.764763
18    0.100223
19    0.485981
dtype: float64

Значения заменены на децентили:
0      7th
1      9th
2      2nd
3      6th
4      4th
5      3rd
6      5th
7      1st
8      8th
9      1st
10    10th
11     6th
12     5th
13     9th
14     7th
15     3rd
16    10th
17     8th
18     2nd
19     4th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

## Упражнение № 11

In [60]:
ser = pd.Series(np.random.randint(1, 10, 35))

In [61]:
print(f"Исходные данные:\n{ser}\n")

df = pd.DataFrame(ser.values.reshape(7, 5))
print(f"Датафрейм с 7 строками и 5 столбцами:\n{df}\n")

Исходные данные:
0     5
1     9
2     6
3     6
4     1
5     4
6     5
7     9
8     5
9     6
10    6
11    7
12    3
13    5
14    3
15    3
16    2
17    6
18    1
19    5
20    2
21    7
22    6
23    3
24    8
25    1
26    9
27    7
28    4
29    1
30    1
31    5
32    7
33    4
34    9
dtype: int32

Датафрейм с 7 строками и 5 столбцами:
   0  1  2  3  4
0  5  9  6  6  1
1  4  5  9  5  6
2  6  7  3  5  3
3  3  2  6  1  5
4  2  7  6  3  8
5  1  9  7  4  1
6  1  5  7  4  9

## Упражнение № 12

In [62]:
ser = pd.Series(np.random.randint(1, 10, 7))

In [64]:
print(f"Исходные данные:\n{ser}\n")

indexes = np.argwhere(ser % 3 == 0)
print(f"Позиции чисел, кратных 3, из исходного ряда:\n{indexes}\n")

Исходные данные:
0    2
1    7
2    7
3    9
4    2
5    3
6    4
dtype: int32

Позиции чисел, кратных 3, из исходного ряда:
[[3]
 [5]]

## Упражнение № 13

In [65]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [67]:
# print(f"Исходные данные:\n{ser}\n")

poses = ser.take(pos)
print(f"Элементы, находящиеся на позициях в списке:\n{poses}\n")

Исходные данные:
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

Элементы, находящиеся на позициях в списке:
0     a
4     e
8     i
14    o
20    u
dtype: object

## Упражнение № 14

In [68]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [71]:
df = pd.concat([ser1, ser2], axis=1)
print(f"Объедининённые по вертикали и горизонтали ряды:\n{df}")

Объедининённые по вертикали и горизонтали ряды:
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

## Упражнение № 15

In [72]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [76]:
print("Позиции элементов `ser2` в `ser1` в виде списка")
[pd.Index(ser1).get_loc(i) for i in ser2]

Позиции элементов `ser2` в `ser1` в виде списка

[5, 4, 0, 8]