# Упражнения на работу с pandas

## Упражнение № 1

In [1]:
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [2]:
import pandas as pd

series1 = pd.Series(mylist)
series2 = pd.Series(myarr)
series3 = pd.Series(mydict)

print(f"series1:\n{series1}\n")
print(f"series2:\n{series2}\n")
print(f"series3:\n{series3}\n")

series1:
0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

series2:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

series3:
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

## Упражнение № 2

In [3]:
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [4]:
df = ser.to_frame().reset_index()
print(f"Преобразованный ряд в датафрейм с новым столбцом:\n{df}")

Преобразованный ряд в датафрейм с новым столбцом:
   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

## Упражнение № 3

In [5]:
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [6]:
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)

df = pd.concat([ser1, ser2], axis=1)
df = pd.DataFrame({ "ser1": ser1, "ser2": ser2 })
print(f"Объединённый датафрейм из двух рядов:\n{df}")

Объединённый датафрейм из двух рядов:
   ser1  ser2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

## Упражнение № 4

In [7]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
ser = pd.Series(mylist)

In [8]:
ser.name = "latin_letters"
print(f"С добавлением названия столбца:\n{ser}")

С добавлением названия столбца:
0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: latin_letters, dtype: object

## Упражнение № 5

In [9]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1 = ser1[~ser1.isin(ser2)]
print(f"Очищенный первый ряд от значений второго ряда:\n{ser1}")

Очищенный первый ряд от значений второго ряда:
0    1
1    2
2    3
dtype: int64

## Упражнение № 6

In [10]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [11]:
series_union = pd.Series(np.union1d(ser1, ser2))
series_intersection = pd.Series(np.intersect1d(ser1, ser2))

ser = series_union[~series_union.isin(series_intersection)]
print(f"Не являются общими для двух рядов:\n{ser}")

Не являются общими для двух рядов:
0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

## Упражнение № 7

In [12]:
ser = pd.Series(np.random.normal(10, 5, 25))

In [13]:
print(f"Исходные данные:\n{ser}\n")
names = [
    "Минимальное значение",
    "25-й процентиль",
    "Медиана",
    "75-й процентиль",
    "Максимальное значение",
]
results = np.percentile(ser, q=[0, 25, 50, 75, 100])
pretty_results = np.stack((names, results), axis=1)
print(pretty_results)

Исходные данные:
0      4.197579
1     15.707656
2      3.817432
3      6.053262
4      9.132197
5     14.969811
6     24.757528
7      6.093538
8      3.741412
9      4.548413
10    12.420344
11     8.117339
12     9.208225
13    13.242952
14     0.824178
15    11.045995
16     4.591219
17    12.187915
18    12.630858
19    18.813547
20    12.399486
21     6.760766
22     9.531868
23    14.259789
24    11.661234
dtype: float64

[['Минимальное значение' '0.8241778285855705']
 ['25-й процентиль' '6.053262171186743']
 ['Медиана' '9.531868002116719']
 ['75-й процентиль' '12.6308583666459']
 ['Максимальное значение' '24.75752795638551']]

## Упражнение № 8

In [14]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [15]:
print(f"Исходные данные:\n{ser}\n")
uniques = ser.value_counts()
print(f"Частота встречаемости каждого уникального значения:\n{uniques}\n")

Исходные данные:
0     g
1     g
2     e
3     a
4     g
5     c
6     g
7     b
8     h
9     a
10    g
11    e
12    c
13    a
14    a
15    c
16    c
17    f
18    f
19    c
20    f
21    b
22    g
23    c
24    b
25    e
26    d
27    c
28    f
29    d
dtype: object

Частота встречаемости каждого уникального значения:
c    7
g    6
a    4
f    4
e    3
b    3
d    2
h    1
Name: count, dtype: int64

## Упражнение № 9

In [16]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [17]:
print(f"Исходные данные:\n{ser}\n")
uniques = ser.value_counts()
print(f"Частота встречаемости каждого уникального значения:\n{uniques}\n")

top_2_uniques = uniques[:2]
print(f"Топ 2:\n{top_2_uniques}\n")


ser[~ser.isin(uniques.index[:2])] = 'Прочее'
print(f"Два наиболее встречающихся оставлены, другие заменены на 'Прочее':\n{ser}")

Исходные данные:
0     4
1     4
2     4
3     4
4     1
5     4
6     1
7     4
8     3
9     4
10    4
11    2
dtype: int32

Частота встречаемости каждого уникального значения:
4    8
1    2
3    1
2    1
Name: count, dtype: int64

Топ 2:
4    8
1    2
Name: count, dtype: int64

Два наиболее встречающихся оставлены, другие заменены на 'Прочее':
0          4
1          4
2          4
3          4
4          1
5          4
6          1
7          4
8     Прочее
9          4
10         4
11    Прочее
dtype: object

C:\Users\Alex\AppData\Local\Temp\ipykernel_17768\1830326190.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Прочее' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ser[~ser.isin(uniques.index[:2])] = 'Прочее'

## Упражнение № 10

In [18]:
ser = pd.Series(np.random.random(20))

In [19]:
print(f"Исходные данные:\n{ser}\n")

cut_ser = pd.qcut(
                ser, 
                q=[0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1], 
                labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']
)
print(f"Значения заменены на децентили:\n{cut_ser}\n")

Исходные данные:
0     0.018707
1     0.606723
2     0.870739
3     0.671191
4     0.436069
5     0.628686
6     0.068746
7     0.802687
8     0.447989
9     0.964580
10    0.029176
11    0.820300
12    0.005072
13    0.428715
14    0.855587
15    0.897571
16    0.217086
17    0.408290
18    0.370375
19    0.362587
dtype: float64

Значения заменены на децентили:
0      1st
1      6th
2      9th
3      7th
4      5th
5      7th
6      2nd
7      8th
8      6th
9     10th
10     2nd
11     8th
12     1st
13     5th
14     9th
15    10th
16     3rd
17     4th
18     4th
19     3rd
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

## Упражнение № 11

In [20]:
ser = pd.Series(np.random.randint(1, 10, 35))

In [21]:
print(f"Исходные данные:\n{ser}\n")

df = pd.DataFrame(ser.values.reshape(7, 5))
print(f"Датафрейм с 7 строками и 5 столбцами:\n{df}\n")

Исходные данные:
0     8
1     4
2     1
3     7
4     6
5     3
6     5
7     2
8     9
9     5
10    9
11    6
12    6
13    4
14    2
15    8
16    7
17    5
18    1
19    6
20    8
21    4
22    1
23    8
24    8
25    2
26    1
27    2
28    6
29    9
30    6
31    4
32    5
33    8
34    6
dtype: int32

Датафрейм с 7 строками и 5 столбцами:
   0  1  2  3  4
0  8  4  1  7  6
1  3  5  2  9  5
2  9  6  6  4  2
3  8  7  5  1  6
4  8  4  1  8  8
5  2  1  2  6  9
6  6  4  5  8  6

## Упражнение № 12

In [22]:
ser = pd.Series(np.random.randint(1, 10, 7))

In [23]:
print(f"Исходные данные:\n{ser}\n")

indexes = np.argwhere(ser % 3 == 0)
print(f"Позиции чисел, кратных 3, из исходного ряда:\n{indexes}\n")

Исходные данные:
0    4
1    2
2    1
3    7
4    3
5    8
6    5
dtype: int32

Позиции чисел, кратных 3, из исходного ряда:
[[4]]

## Упражнение № 13

In [24]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [25]:
# print(f"Исходные данные:\n{ser}\n")

poses = ser.take(pos)
print(f"Элементы, находящиеся на позициях в списке:\n{poses}\n")

Элементы, находящиеся на позициях в списке:
0     a
4     e
8     i
14    o
20    u
dtype: object

## Упражнение № 14

In [26]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [27]:
df = pd.concat([ser1, ser2], axis=1)
print(f"Объедининённые по вертикали и горизонтали ряды:\n{df}")

Объедининённые по вертикали и горизонтали ряды:
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

## Упражнение № 15

In [28]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [29]:
print("Позиции элементов `ser2` в `ser1` в виде списка")
[pd.Index(ser1).get_loc(i) for i in ser2]

Позиции элементов `ser2` в `ser1` в виде списка

[5, 4, 0, 8]

## Упражнение № 16

In [36]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [37]:
print(truth)
print(pred)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    0.609790
1    1.843479
2    2.970565
3    3.274465
4    4.368388
5    5.596394
6    6.376154
7    7.389816
8    8.857178
9    9.392072
dtype: float64

In [39]:
print(f"Среднеквадратическая ошибка рядов:\n{np.mean((truth - pred) ** 2)}")

Среднеквадратическая ошибка рядов:
0.3773946048851097

## Упражнение № 17

In [46]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [47]:
print(f"Каждое слово с заглавной буквы:\n{ser.map(lambda word: word.capitalize())}")

Каждое слово с заглавной буквы:
0     How
1      To
2    Kick
3    Ass?
dtype: object

## Упражнение № 18

In [ ]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [48]:
print(f"Число символов в кажом слове:\n{ser.map(lambda word: len(word))}")

Каждое слово с заглавной буквы:
0    3
1    2
2    4
3    4
dtype: int64

## Упражнение № 19

In [58]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [60]:
print(f"Разность между последовательно идущими числами:\n{ser.diff().tolist()}\n")
print(f"Разность разностей между последовательно идущими числами:\n{ser.diff().diff().tolist()}")

Разность между последовательно идущими числами:
[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]

Разность разностей между последовательно идущими числами:
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

## Упражнение № 20

In [63]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [66]:
ser.map(lambda date: pd.to_datetime(date))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

## Упражнение № 21

In [69]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [85]:
dates = ser.map(lambda date: pd.to_datetime(date))

print("Date:\t\t\t", dates.dt.day.tolist())
print("Week number:\t\t", dates.dt.isocalendar().week.tolist())
print("Day number of year:\t", dates.dt.dayofyear.tolist())
print("Day of week:\t\t", dates.dt.day_name().tolist())

Date:			 [1, 1, 1]
Week number:		 [53, 5, 9]
Day number of year:	 [1, 32, 61]
Day of week:		 ['Friday', 'Tuesday', 'Thursday']

## Упражнение № 22

In [94]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

In [95]:
dates = ser.map(lambda date: pd.to_datetime(date).replace(day = 4))
print(f"Замена на даты, начинающиеся с 4-го числа соответствующего месяца:\n{dates}")

Замена на даты, начинающиеся с 4-го числа соответствующего месяца:
0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

## Упражнение № 23

In [103]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

In [104]:
from collections import Counter

vowels = "eyuioa"
vowels_count = 2

word_checks = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list(vowels)]) >= vowels_count)

print(f"Слова, содержащие не менее 2 гласных букв:\n{ser[word_checks]}")

Слова, содержащие не менее 2 гласных букв:
0     Apple
1    Orange
3    Python
4     Money
dtype: object

## Упражнение № 24

In [105]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

In [106]:
import re

email_checks = emails.map(lambda email: bool(re.match(pattern, email)))
correct_emails = emails[email_checks]
print(f"Корректные адреса электронной почты из ряда:\n{correct_emails}")

Корректные адреса электронной почты из ряда:
1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

## Упражнение № 25

In [108]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['apple', 'banana', 'carrot', 'banana', 'banana', 'apple', 'banana', 'apple', 'apple', 'banana']

In [111]:
mean_weights = weights.groupby(fruit).mean()
print(f"Корректные адреса электронной почты из ряда:\n{mean_weights}")

Корректные адреса электронной почты из ряда:
apple     6.0
banana    5.6
carrot    3.0
dtype: float64

## Упражнение № 26

In [118]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

In [120]:
dist = np.linalg.norm(p - q)
print(f"Евклидово расстояние:\n{dist}")

Евклидово расстояние:
18.16590212458495

## Упражнение № 27

In [124]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

In [126]:
from scipy.signal import find_peaks

peak_idx, _ = find_peaks(ser)
print(peak_idx)

[1 5 7]

## Упражнение № 28

In [127]:
my_str = 'dbc deb abed gade'

In [131]:
from collections import Counter

symbol_to_replace = ' '
most_frequent_symbol = Counter(my_str).most_common(1)[0][0]

updated_str = my_str.replace(symbol_to_replace, most_frequent)
print(f"Строка с заменой пробелов на {most_frequent_symbol}:\n{updated_str}")

Строка с заменой пробелов на d:
dbcddebdabeddgade

## Упражнение № 29

In [133]:
begin_date = '2000-01-01'
ser = pd.Series(np.random.randint(1,10,10), pd.date_range(begin_date, periods=10, freq='W-SAT'))
print(f"Временной ряд, начинающийся с `2000-01-01`, содержащий 10 субботних дней после этого и имеющий в качестве значений случайные числа:\n{ser}")

Временной ряд, начинающийся с `2000-01-01`, содержащий 10 субботних дней после этого и имеющий в качестве значений случайные числа:
2000-01-01    4
2000-01-08    5
2000-01-15    6
2000-01-22    1
2000-01-29    3
2000-02-05    6
2000-02-12    3
2000-02-19    9
2000-02-26    8
2000-03-04    8
Freq: W-SAT, dtype: int32

## Упражнение № 30

In [134]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64

In [136]:
all_dates = ser.resample('D').ffill()
print(f"Ряд с пропущенными датами:\n{all_dates}")

Ряд с пропущенными датами:
2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

## Упражнение № 31

In [147]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

In [148]:
print(f"Исходные данные:\n{ser}\n")

autocorrelations = [ser.autocorr(i) for i in range(1, 11)]
print(f"Автокорелляции для 10 лагов:\n{autocorrelations}")
print(f'Наибольшая корреляция: {np.argmax(np.abs(autocorrelations))}')

Исходные данные:
0    -17.542381
1     -2.793127
2     -0.041703
3      3.304575
4     12.073692
5     20.026790
6      1.160905
7     16.445516
8     -4.442881
9     26.156146
10     5.423640
11    22.066235
12    19.234405
13    23.415021
14    21.100594
15    19.236528
16    22.349302
17     6.094828
18    10.940223
19    30.809192
dtype: float64

Автокорелляции для 10 лагов:
[0.20807315515271158, 0.5338370077584998, 0.12451757245325482, 0.2672476380286292, 0.07561164066433658, 0.333001099523642, 0.2885955706437611, 0.3743066087733319, -0.013779537438404136, 0.4813581341470749]
Наибольшая корреляция: 1

## Упражнение № 32

In [165]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
df = pd.read_csv(url)

chunk_index = 50
chunks = df.loc[df.index % chunk_index == 0]
print(f"Каждая 50-я строка набора данных:\n{chunks}")

Каждая 50-я строка набора данных:
         crim    zn  indus  chas    nox     rm    age     dis  rad  tax  \
0     0.00632  18.0   2.31     0  0.538  6.575   65.2  4.0900    1  296
50    0.08873  21.0   5.64     0  0.439  5.963   45.7  6.8147    4  243
100   0.14866   0.0   8.56     0  0.520  6.727   79.9  2.7778    5  384
150   1.65660   0.0  19.58     0  0.871  6.122   97.3  1.6180    5  403
200   0.01778  95.0   1.47     0  0.403  7.135   13.9  7.6534    3  402
250   0.14030  22.0   5.86     0  0.431  6.487   13.0  7.3967    7  330
300   0.04417  70.0   2.24     0  0.400  6.871   47.4  7.8278    5  358
350   0.06211  40.0   1.25     0  0.429  6.490   44.4  8.7921    1  335
400  25.04610   0.0  18.10     0  0.693  5.987  100.0  1.5888   24  666
450   6.71772   0.0  18.10     0  0.713  6.749   92.6  2.3236   24  666
500   0.22438   0.0   9.69     0  0.585  6.027   79.7  2.4982    6  391

     ptratio       b  lstat  medv
0       15.3  396.90   4.98  24.0
50      16.8  395.56  13.45  19.7
100     20.9  394.76   9.42  27.5
150     14.7  372.80  14.10  21.5
200     17.0  384.30   4.45  32.9
250     19.1  396.28   5.90  24.4
300     14.8  390.86   6.07  24.8
350     19.7  396.90   5.98  22.9
400     20.2  396.90  26.77   5.6
450     20.2    0.32  17.44  13.4
500     19.2  396.90  14.33  16.8

## Упражнение № 33

In [173]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
df = pd.read_csv(url, converters={'medv': lambda medv: 'High' if float(medv) > 25 else 'Low'})
print(f"Столбец 'medv' изменён на `Low` и `High`:\n{df}")

Столбец 'medv' изменён на `Low` и `High`:
        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat  medv
0       15.3  396.90   4.98   Low
1       17.8  396.90   9.14   Low
2       17.8  392.83   4.03  High
3       18.7  394.63   2.94  High
4       18.7  396.90   5.33  High
..       ...     ...    ...   ...
501     21.0  391.99   9.67   Low
502     21.0  396.90   9.08   Low
503     21.0  396.90   5.64   Low
504     21.0  393.45   6.48   Low
505     21.0  396.90   7.88   Low

[506 rows x 14 columns]

## Упражнение № 34 (TODO)

In [177]:
L = pd.Series(range(15))
L

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

## Упражнение № 35

In [178]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
cols_to_use = ["crim", "medv"]

df = pd.read_csv(url, usecols=cols_to_use)
print(f"Испорт только столбцов {cols_to_use} в датафрейм:\n{df}")

Испорт только столбцов ['crim', 'medv'] в датафрейм:
        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

## Упражнение № 36 (TODO)